:root {
    --primary-color: DodgerBlue;
    --primary-dark-color: rgb(23, 96, 169);
    --secondary-color: white;
    --danger-color: rgb(213, 29, 29);
}

body {
    padding: 0;
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#logged-in-text {
    color: var(--danger-color);
}

button {
    min-width: 10rem;
    padding: 1rem 2rem;

    font-size: 1.5rem;
    color: var(--primary-dark-color);
    background-color: var(--secondary-color);

    border: none;
    border-radius: 2rem;
}


.loggedin #logged-in-text {
    color: var(--secondary-color);
}
.loggedin button {
    color: var(--secondary-color);
    background-color: var(--danger-color);
}



/* General styling */
.m0 {
    margin: 0;
}

.italic {
    font-style: italic;
}
